<div class="col">
    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h3 class="mx-auto">Seviye 2</h3>
        <h5 class="mx-auto">Rozeti</h5  >
        <img class="pt-1 mt-1 mb-1 display-6 lh-1 fw-bold" src="/static/2.png"</img>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto">
            <img src="http://palu.meb.gov.tr/meb_iys_dosyalar/2019_12/09161911_Palu_MEM_Logo_Yeni_2019.jpg" alt="Bootstrap" width="48" height="48 " class="rounded-circle border border-white">
          </li>
          <li class="d-flex align-items-center">
            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
            <small>{{ogrenci.firstname+" "+ogrenci.lastname}}</small>
          </li>
          </ul>
        </div>
    </div>
</div>