{% extends 'layout.html' %}

{% block body %}

<br>
<h3>Kontrol Paneli</h3>
<hr>
<h6>Hoşgeldiniz {{session["username"]}}</h6>



<div class="my-auto">
  <form method="POST">
    {{form.hidden_tag()}}
    {{form.text_area(class="form-control form-control-lg")}}
    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      {{form.submit(class="btn btn-primary")}}
    </div>

  </form>
</div>

<br>

{% if len_list %}
<table class="table table-striped">
  <thead  class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Öğrenci Adı</th>
      <th scope="col">Puanı</th>
    </tr>
  </thead>
  <tbody>
    {% for i in range(1,len_list+1) %}
    <tr>
      <th scope="row">{{ogrenci[i-1]["id"]}}</th>
      <td>{{ogrenci[i-1]["firstname"]+" "+ogrenci[i-1]["lastname"]}}</td>
      <td>{{ogrenci[i-1]["point"]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<div>
  <form method="POST">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="/dashboard" class="btn btn-primary" type="submit">Temizle</a>
      <a href="/decrease/{{form.text_area.data}}" class="btn btn-danger" type="submit">Puanı Azalt</a>
      <a href="/increase/{{form.text_area.data}}" class="btn btn-success" type="submit">Puanı Arttır</a>
    </div>

  </form>
</div>

{% endif %}


{% if not len_list and request.method == "POST" %}

<table class="table table-striped">
  <thead  class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Öğrenci Adı</th>
      <th scope="col">Puanı</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ogrenci["id"]}}</th>
      <td>{{ogrenci["firstname"]+" "+ogrenci["lastname"]}}</td>
      <td>{{ogrenci["point"]}}</td>
    </tr>
  </tbody>
</table>

<div>
  <form method="POST">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="/dashboard" class="btn btn-primary" type="submit">Temizle</a>
      <a href="/decrease/{{form.text_area.data}}" class="btn btn-danger" type="submit">Puanı Azalt</a>
      <a href="/increase/{{form.text_area.data}}" class="btn btn-success" type="submit">Puanı Arttır</a>
    </div>

  </form>
</div>
  
{% endif %}



{% endblock body %}
