{% extends 'layout.html' %}
{% block body %}
<div class="container">
  <br>
  <h1>{{ogrenci.id}}</h1>
  <h2>{{ogrenci.firstname+" "+ogrenci.lastname}}</h2>
  <hr>

    <table class="table table-striped">
        <thead  class="table-dark">
          <tr>
            <th scope="col"><h5>#</h5></th>
            <th scope="col"><h5>Ders Adı</h5></th>
            <th scope="col"><h5>Puanı</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><h5>1</h5></th>
            <td><h5>Matematik</h5></td>
            <td><h5>{{ogrenci["point"]}}</h5></td>
          </tr>
        </tbody>
      </table>

      <h2 class="pb-2 border-bottom">Kazanılan Rozetler</h2>
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2">
        {% if ogrenci.point >= 100 %}
        {% include "medals/level1.html" %}
        {% include "medals/level2.html" %}
        {% include "medals/level3.html" %}
        {% include "medals/level4.html" %}
        {% elif ogrenci.point >= 75 %}
        {% include "medals/level1.html" %}
        {% include "medals/level2.html" %}
        {% include "medals/level3.html" %}
        {% elif ogrenci.point >= 50 %}
        {% include "medals/level1.html" %}
        {% include "medals/level2.html" %}
        {% elif ogrenci.point >= 25 %}
        {% include "medals/level1.html" %}
        {% endif %}
      </div>
{% endblock body %}